.MyButton {
  display: grid;
  grid-template-columns: auto;
  &B {
    background-color: #c5b9b9;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
  }
  @media (max-width: 550px) {
    // display: grid;
    // flex-direction: column;
    // align-items: center;
    // font-size: 2px;
  }
  :hover {
    background: rgb(128, 135, 139);
  }
}
