.MyButton {
  display: grid;
  grid-template-columns: auto;
  border-radius: 5px;
  &B {
    background-color: #4793ff;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
  }
  :hover {
    background: rgb(128, 135, 139);
  }
}
