@import "../../../Styles/properties.scss";

.MyButton {
  display: grid;
  grid-template-columns: auto;

  &B {
    @extend %button-template;
  }
  :hover {
    transition: 0.3s ease;
    background: var(#{--text-color-hover-default});
  }
}
