.I {
  display: grid;
  grid-template-rows: 50px;
  align-items: center;
  margin: 20px 0px 5px 0px;
  @media (max-width: 570px) {
    grid-template-columns: 210px;
    justify-content: center;
  }
  &I {
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc;
    color: #333;
    font-size: 20px;
  }
}
