@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1920px;
  background: var(#{--body-background-default});
  color: var(#{--text-color-default});
  margin: 0px;
  padding: 0px;
  width: 0 auto;
  font-size: 1.5rem;
  @media (max-width: 1910px) {
    grid-template-columns: 1740px;
    font-size: 1.4rem;
  }
  @media (max-width: 1780px) {
    grid-template-columns: 1500px;
    font-size: 1.3rem;
  }

  @media (max-width: 1520px) {
    grid-template-columns: 1200px;
    font-size: 1.2rem;
  }

  @media (max-width: 1280px) {
    grid-template-columns: 1140px;
    font-size: 1rem;
  }
  @media (max-width: 1060px) {
    grid-template-columns: 700px;
  }
  @media (max-width: 750px) {
    grid-template-columns: 550px;
  }
  @media (max-width: 810px) {
    grid-template-columns: 650px;
  }
  @media (max-width: 700px) {
    grid-template-columns: 550px;
  }
  @media (max-width: 570px) {
    grid-template-columns: 350px;
  }
}
