.cityCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  border-top: 1px solid #333333;
  margin-top: 12px;
  margin-bottom: 12px;

  &Delete svg {
    color: var(#{--text-color-default});
    height: 65px;
    width: 65px;
    transition: 0.3s ease;
    cursor: pointer;
    @media (max-width: 1060px) {
      height: 45px;
      width: 45px;
    }
  }
  &Delete:hover svg {
    transition: 0.3s ease;
    color: var(#{--text-color-hover-default});
  }
  &Delete button {
    border: none;
    background: transparent;
  }
  & p {
    font-size: 1.5rem;
    font-weight: normal;
    margin-right: 12px;
    @media (max-width: 1780px) {
      font-size: 1.3rem;
    }
    @media (max-width: 1500px) {
      font-size: 1.2rem;
    }
    @media (max-width: 1240px) {
      font-size: 1rem;
    }
  }
}
