.Navbar {
  background-color: #e6e4d0;
  // padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  position: sticky;

  justify-content: space-around;
  align-items: center;

  &H {
    display: flex;
    color: #000;
  }
  &H :hover {
    color: #0056b3;
  }
}
