.day-info {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 32px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  border: none;
  padding: 40px;
  width: 750px;
  .item {
    position: relative;
    display: grid;
    grid-template: 1fr/1fr 1fr 1fr;
    .icons {
      gap: 5px;
    }
    .text {
    }
    .title {
    }
  }

  img {
    position: absolute;
    opacity: 0.4;
    top: 0;
    right: 0;
    margin: 5px 5px 0px 0px;
  }
}
