.day-info {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 42px 0px 41px 32px;
  box-shadow: 1px 1px 32px 2px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  border: none;
  .card {
    display: grid;
    grid-template: 1fr /100px 300px 1fr;
    align-items: center;
    font-size: 16px;

    .city {
      color: #939cb0;
      font-weight: 200;
    }
    .store {
      font-weight: 500;
    }
  }

  img {
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
    margin: 5px 5px 0px 0px;
  }
}
