.startPage {
  justify-content: center;
  .weather-container {
    display: grid;
    justify-content: space-between;
    grid-template: 1fr/ 300px 750px;
    align-items: center;
    .location-info {
      display: grid;
      box-shadow: 1px 1px 32px 2px rgba(34, 60, 80, 0.2);
      border: none;
      border-radius: 20px;

      .info {
        display: flex;
        align-items: center;
        .temperature {
          font-size: 80px;
          font-weight: bold;
          color: #4793ff;
        }
        .weather-description {
          font-size: 40px;
          font-weight: 600;
        }
        .date,
        .city {
          font-size: 25px;
        }
      }
      img {
        width: 125px;
      }
    }
  }
  .days-div {
    .days {
      margin-top: 20px;
      display: grid;
      grid-template: 350px / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      box-shadow: 1px 1px 32px 2px rgba(34, 60, 80, 0.2);
      border-radius: 20px;
      padding: 20px;
      gap: 10px;

      .day {
        background-color: rgba(#4793ff, 0.2);
        border-radius: 20px;
        padding: 20px;
        .day-temp {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    }
    .header-days {
      display: flex;
      justify-content: space-around;
    }
  }
}
