.StartPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f8ea;
  height: 80vh;

  &Cities {
    margin-top: 30px;
    width: 45vw;

    background: rgba(0, 0, 0, 0.02);
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 32px 2px rgba(34, 60, 80, 0.2);
    background-color: #e0e0d8;

    & p {
      font-size: 1.3rem;
    }
  }
  &Title {
    font-size: 2.5rem;
    font-weight: bold;
  }
}
